body {
    font-family: Roboto;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    color: #FFFFFF;
    font-weight: 400;
}

h1 {
    font-family: Roboto;
    font-size: 20px;
    line-height: 32px;
}

h2 {
    font-size: 20px;
    line-height: 32px;
}

h3 {

    font-size: 20px;
    line-height: 28px;

}

h4 {

    font-size: 20px;
    line-height: 28px;

}

p {
    font-family: Roboto;

    font-size: 16px;

    line-height: 32px;

}

.nav-links {
    list-style: none;
}

.nav-links a {

    font-size: 16px;
    line-height: 100%;
    list-style: none;
    color: #FFFFFF;
    text-decoration: none;

}

.post-category {
    color: #ADB1B7;
    font-size: 14px;
    line-height: 100%;
}

.post-date {
    color: #ADB1B7;
    font-size: 14px;
    line-height: 100%;

}

.author-role {
    color: #ADB1B7;
    font-size: 14px;
    line-height: 100%;
}

.page-footer p {
    color: #ADB1B7;
}